.home-container {
  padding: 2rem;
  max-width: 700px;
  margin: auto;
  background-color: #f3eaff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(114, 9, 183, 0.1);
}

h2 {
  text-align: center;
  color: #7209b7;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 1rem;
}

form input {
  flex: 1 1 40%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #ffffff;
  color: #333333
}

form button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 16px;
  background-color: #7209b7;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #560bad;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #ffffff;
  margin: 10px 0;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

li strong {
  color: #333333;
}

.completed {
  text-decoration: underline;
  color: #888888;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  font-size: 1.2rem;
  color: #7209b7;
}

button:hover {
  color: #560bad;
}
